<h1>EXPLORER</h1>
{{#each this}}
    <h3>{{location}}</h3>
    <p>Date: {{date}}</p>
    <p>Time: {{time}}</p>
    <p>Details: {{details}}</p>
    <p>Capacity: {{capacity}}</p>
    <hr>
{{/each}} --}}

{{#each Vites}}
 <section id="cards_section" class="my-card_wrapper scrollspy">
    <div class="container">
    {{!-- card 1 --}}
      <div class="row">
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="https://picsum.photos/200?greyscale/1" alt="">
              <span class="card-title">{{location}}</span>
            </div>
            <div class="card-content">
                {{!-- date, time, details, capacity --}}
              <p>{{date}}</p>
              <p>{{time}}</p>
              <p>{{details}}</p>
              <p>{{capacity}}</p>
            </div>
            <div class="card-action">
              <a href="#" class="light-blue-text text-darken-1 modal-trigger">This is a link</a>
            </div>
          </div>
        </div>
        {{/each}}
        {{!-- <!--col - card 2-->
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="https://picsum.photos/200?greyscale/2" alt="">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consectetur dicta nihil sunt.</p>
            </div>
            <div class="card-action">
              <a href="#" class="light-blue-text text-darken-1">This is a link</a>
            </div>
          </div>
        </div>
        <!--col-->
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="https://picsum.photos/200?greyscale/3" alt="">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae provident odio ducimus sit fugiat impedit accusamus, fuga commodi dignissimos voluptas, maxime nemo eos sequi.</p>
            </div>
            <div class="card-action">
              <a href="#" class="light-blue-text text-darken-1">This is a link</a>
            </div>
          </div>
        </div>
        <!--col-->
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="https://picsum.photos/200?greyscale/4" alt="">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum minus veniam eius facere, quod quae aperiam et optio!</p>
            </div>
            <div class="card-action">
              <a href="#" class="light-blue-text text-darken-1">This is a link</a>
            </div>
          </div>
        </div>
        <!--col-->
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="https://picsum.photos/200?greyscale/5" alt="">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum error repellendus ut, inventore praesentium eos nam.</p>
            </div>
            <div class="card-action">
              <a href="#" class="light-blue-text text-darken-1">This is a link</a>
            </div>
          </div>
        </div>
        <!--col-->
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="https://picsum.photos/200?greyscale/6" alt="">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui aliquid maiores voluptatem laudantium fugiat natus molestiae.</p>
            </div>
            <div class="card-action">
              <a href="#" class="light-blue-text text-darken-1">This is a link</a>
            </div>
          </div>
        </div>
        <!--col-->
      </div>
      <!--row-->
    </div>
    <!--container-->
  </section> --}}