<div class="exploreHeader"><h1>EXPLORE</h1></div>
<section id="cards_section" class="my-card_wrapper">
  <div class="container">
    <div class="row">
      {{#each this}}
      {{#if this.id}}
      <div class="col s12 m6 l4 h-inherit">
        <div class="card">
          <div class="card-image">
            {{#if imageURL}}
            <img src="{{imageURL}}" alt="" class="viteImg">
            {{else}}
            <img src="https://picsum.photos/200?greyscale/1" alt="">
            {{/if}}
            <span class="card-title">{{location}}</span>
          </div>
          <div class="card-content">
            <p>Date: {{date}}</p>
            <p>Time: {{time}}</p>
            <p>Vite Details: {{details}}</p>
            <p>Max Capacity: {{capacity}}</p>
          </div>
          <div class="card-action">
            {{!-- <button class="light-blue-text text-darken-1 modal-trigger">Add a comment</button>
             <button class="light-blue-text text-darken-1 modal-trigger">View comments</button> --}}
            <button id="addComment" class=" btn blue-grey waves-effect waves-light modal-trigger">Add a Comment</button>
             <button id="viewComments" class="btn blue-grey waves-effect waves-light modal-trigger">View Comments</button>

          </div>
        </div>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
</section>
